/* Flex codes */
.d-flex {
    display: flex;
}

.d-flex-row {
    flex-direction: row;
}

.d-flex-row-reverse {
    flex-direction: row-reverse;
}

.d-flex-align-item-stretch {
    align-items: stretch;
}