@media only screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .right-box {
        width: 100%;
        margin-bottom: 50px;
    }

    .left-box {
        width: 100%;
        overflow: visible;
    }
}