.container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.row {
    justify-content: space-between;
    align-items: center;
}