body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    background-color: #eaea3e;
    width: 900px;
    height: 450px;
    margin: 50px auto;
}