body {
    background-color: rgb(190, 190, 190);
    padding: 10px;
}

.container {
    background-color: rgb(193, 35, 35);
    padding: 10px;
    margin: 100px auto;
    border-radius: 10px;
    width: 1000px;
    height: 300px;
    overflow: auto;
    box-shadow: 10px 10px 8px rgb(109, 8, 8);
}

.item {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #eaea3e;
    border-radius: 5px;
}