/* Project base styles */
html {
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.full-width {
    width: 100%;
}

.cart-header {
    height: 85px;
    background-color: crimson;
    justify-content: space-between;
    padding: 20px;
}

.cart-content {
    align-items: stretch;
}

.user-pic {
    width: 75px;
    height: 75px;
    background-color: #272727;
    border-radius: 50%;
}

.user-name {
    color: aliceblue;
    margin-left: 10px;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #474747;
    margin-right: 8px;
}

.cart-content-left-panel {
    width: 40%;
    background-color: chartreuse;
}

.cart-content-right-panel {
    width: 60%;
    background-color: greenyellow;
}

.shop-item {
    margin: 10px 0;
    background-color: blue;
    width: 80%;
    height: 50px;
    border-radius: 5px;
    justify-content: space-between;
    padding: 2px 10px;
}

.shop-item-name {
    background-color: chocolate;
    flex-grow: 2;
    margin-right: 5px;
}

.shop-item-number {
    background-color: #f1f1f1;
    flex-grow: 0.5;
    margin-right: 5px;
}

.shop-item-price {
    background-color: darkkhaki;
    flex-grow: 1;
}